/*
Project Name: Relaxr website
Client: Relaxr
Author: RaggedDesign - Rachel Girling
Developer @GA in London

background color: #f0efef
yellow: #f9e42e
dark blue: #033048
light grey: #606161
almost black: #121212

Font: Open Sans (reuse from last week's assignment)
Weight: Light, Light Italic, Semibold, Extrabold
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	color: #000;
	line-height: 1.5;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 24px;
	background-color: #f0efef;
}

h1 {
	font-weight: 800;
	font-size: 62px;
	position: absolute;
	top: 30px;
	left: 200px;

}

h2 {
	font-weight: 600;
	font-size: 60px;
}

h3 {
	font-weight: 600;
	font-size: 48px;
}

footer {
	background-color: #121212;
	text-align: center;
	padding: 40px 0px 0px 0px;
}

button {
	border-radius: 5px;
	font-weight: 800;
	font-size: 28px;
	margin: 20px 0px 20px 0px;
	padding: 10px 40px 10px 40px;
	border: none;
}

button.yellow {
	background-color: #f9e42e;
	margin: 100px 0px 450px 0px;
}

button.yellow:hover {
	background-color: #121212;
	color: #f0efef;
}

button.black {
	background-color: #121212;
	color: #f0efef;
}

button.black:hover {
	background-color: #606161;
}

p {
	padding: 20px 0px 20px 0px;
	font-weight: 300;
	font-size: 28px;
}

li {
	font-weight: 300;
	font-size: 28px;
}

li.nav {
	display: inline-block;
	padding: 20px 30px;
	font-weight: 600;
	font-size: 36px;
}

li.nav a {
	text-decoration: none;
	color: #f9e42e;
}

li.nav a:hover {
	color: white;
}

li.nav.navhome {
	position: absolute;
	top: 40px;
	right: 100px;
}

li.bullets {
	list-style-type: disc;
	list-style-position: inside;
	padding: 0px 140px 0px 40px;
	font-weight: 300;
}

li.sidelist a {
	color: #033048;
	text-decoration: none;
	padding: 20px;
}

li.sidelist a:hover {
	color: #f9e42e;
}

nav {
	float: right;
	margin-right: 100px;
}

article {
	padding: 20px;
}

/*DIV AND SECTIONS STYLING*/
.container {
	max-width: 90%;
  	margin: 0 auto;
  	width: 1024px;
  	text-align: center;
}

.intro {
	background: url("../images/header_bg.jpg") no-repeat center top rgb(134,141,157);
	background-size: cover;
	color: #f0efef;
}

.menu {
	background-color: #033048;
	color: #f0efef;
	padding: 40px 0px 40px 0px;
}

.benefits {
	background-color: #f0efef;
	padding: 40px 100px 50px 100px; 
}

.testimonial {
	background: url("../images/testimonial_bg.jpg") no-repeat center top rgb(134,141,147);
	background-size: cover;
	color: #f0efef;
	text-align: center;
	padding: 80px;
}

.banner {
	background-color: #f9e42e;
	padding: 30px 0px 30px 0px;
}

.social {
	padding: 20px 0px 20px 0px;
}

.social a {
	margin: 0px 10px;
}

.blog {
	margin: 50px 200px 0px 200px;
}

.main {
	width: 75%;
	float: left;
}

.sidebar {
	width: 25%;
	float: right;
}

img.blogphoto {
	width: 100%;
	margin: 40px 0px;
}

img.adspace {
	width: 100%;
}

article.entry {
	border-bottom: solid 1px black;
	padding-bottom: 50px;
}

article.entry:last-child {
	padding-top: 50px;
	margin-bottom: 200px;
}

a.cta {
	font-weight: 600;
	font-size: 30px;
	color: #033048;
	text-decoration: none;
}

a.cta:hover {
	color: #f9e42e;
}

a.cta.read {
	float: right;
}

/*TEXT STYLING*/

p.quote {
	font-style: italic;
	padding: 0px;
	font-size: 36px;
}

p.copyright {
	color: #f0efef;
	font-weight: 300;
}

p.drop:first-letter {
	font-weight: 700;
	font-size: 150px;
	line-height: 100px;
	float: left;
}

p.sidetext {
	color: #033048;	
}

h2.tagline {
	margin: 300px 0px 20px 0px;
}

h3.name {
	margin: 0px;
}

h2.blogtitle {
	padding-right: 20px;
	line-height: 1.2;
}

h3.relaxr {
	color: #f9e42e;
	font-weight: 800;
	margin: 20px 0px;
}

h3.sidetitles {
	font-weight: 800;
	color: #033048;
}